# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Next.js
.next/
out/
node_modules/
.env.local

# IDEs
.vscode/
.idea/

# DB
backend/db/sessions.db
backend/db/checkpoints.db
backend/db/chroma/
backend/db/chroma_v5/
backend/db/chroma_v6/
